* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 30rem;
    padding: 2rem;
}

body h1 {
    margin-bottom: 1rem;
}

#error-msg{
    color: red;
    font-size: 15px;
} 